<% layout("layout/boilerplate") -%>
  <div class="container offset-2">
    <br>
    <h2 style=" color: black;"><b> Update Restaurant</b></h2>
    <br>
    <div class="row">
      <div class="col  col-lg-8 col-md-9 col-sm-12 col-12">
        <!-- form -->
        <form action="/restaurant/<%= restaurant.id %>?_method=PATCH" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
          <div>
            <label for="name" class="form-label">Restaurant Name</label>
            <input type="text" name="restaurant[name]" id="name" placeholder="Enter a unique restaurant name" value="<%= restaurant.name %>"

              class="form-control" required>
            <!-- success & failure texts -->
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              A Restarent Name is required to proceed.
            </div>

          </div>
          <br>
          <div>
            <label for="type" class="form-label">Restaurant Type</label>
         <select name="restaurant[type]" class="form-control" required id="type">
            <option value="">--Please choose an option--</option>
            <option value="Fast Food">Fast Food</option>
            <option value="Casual Dining">Casual Dining</option>
            <option value="Fine Dining">Fine Dining</option>
            <option value="Cafe">Cafe</option>
            <option value="Buffet">Buffet</option>
            <option value="Food Truck">Food Truck</option>
            <option value="Street Food">Street Food</option>
            <option value="Tiffin center">Tiffin center</option>
            <option value="Biryani center">Biryani center</option>
            </select>
            
            <!-- success & failure texts -->
            <div class="valid-feedback">
              Great! Your Restaurant Type is in place.
            </div>
            <div class="invalid-feedback">
              Almost there! Just add a Restaurant Type.
            </div>
          </div>
          <br>
           <div>
            <label for="coverFood" class="form-label">coverFood</label>
            <input type="text" name="restaurant[coverFood]" id="coverFood" placeholder=" coverFood items, e.g., parota, Dosa, pori" value="<%= restaurant.coverFood %>"
              class="form-control" required>
            <div class="valid-feedback">Great! Foods added.</div>
            <div class="invalid-feedback">Please enter at least one food item.</div>
          </div>
          <!-- img -->
          <br>
            <div>
            <label for="coverImage" class="form-label">Upload New CoverImage</label>
            <input type="file" name= "restaurant[coverImage]" id="coverImage" class="form-control" value="<%= restaurant.coverImage %>"  multiple>
          </div>
          <!-- Foods -->
          <br>
          <div>
            <label for="foods" class="form-label">Food Items</label>
            <input type="text" name="restaurant[foods]" id="foods" placeholder="List food items, e.g., Idli, Dosa, Pongal" value="<%= restaurant.foods %>"
              class="form-control" required>
            <div class="valid-feedback">Great! Foods added.</div>
            <div class="invalid-feedback">Please enter at least one food item.</div>
          </div>
          <br>

          <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
              <div>
                <label for="price" class="form-label">Price</label>
                <input type="text" name="restaurant[price]" id="price" placeholder="1200" class="form-control" value="<%= restaurant.price %>"  required>
                <!-- success & failure texts -->
                <div class="valid-feedback">
                  Nice! The price is set.
                </div>
                <div class="invalid-feedback">
                  Oops! The price field is empty.
                </div>
              </div>
            </div>
            <div class="col">
              <div>
                <label for="address" class="form-label">Address</label>
                <input type="text" name="restaurant[address]" id="address" placeholder="India" class="form-control" value="<%= restaurant.address %>"
                  required>


                <!-- success & failure texts -->
                <div class="valid-feedback">
                  Looks good! address selected.
                </div>
                <div class="invalid-feedback">
                  A address selection is required to proceed.
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <label for="distance" class="form-label">Distance</label>
            <input type="text" name="restaurant[distance]" id="distance" placeholder="E.g., 2.5 km from campus" value="<%= restaurant.distance %>"

              class="form-control" required>
            <!-- success & failure texts -->
            <div class="valid-feedback">
              Looks good! distance selected.
            </div>
            <div class="invalid-feedback">
              A distance selection is required to proceed.
            </div>

          </div>
          <br>
          <button class="btn btn-outline-danger" type="submit">Add</button>
          <br><br><br><br>
        </form>
      </div>
    </div>

  </div>